@font-face {
  font-family: "28_Days_Later_Cyr";
  src: url(../fonts/28_Days_Later_Cyr.otf) format("truetype");
}

@font-face {
  font-family: "Cera_Stencil_PRO_Trial";
  src: url(../fonts/Cera_Stencil_PRO_Trial.otf) format("truetype");
}

html {
  height: 100%;
  width: 100%;
  background-image: url(../img/html-bg.png);
}

body {
  min-width: 320px;
  width: 80%;
  min-height: 100%;
  margin: 0 auto;
}

main {
  position: relative;
  float: left;
  width: 100%;
  margin-top: 5px;
  background-image: url(../img/body-bg.jpg);
  box-shadow: 0px 0px 50px;
}

header {
  height: 100px;
  background-image: url(../img/header-bg.jpg);
  background-size: 55px;
  box-shadow: 0px 0px 50px;
  padding-top: 5px;
}

#logo {
  float: left;
  width: 90px;
  height: 90px;
  margin-left: 10px;
  background-image: url(../img/logo.png);
  background-size: cover;
  border-radius:45px;
  box-shadow: 0px 0px 30px #fff;
  opacity: 0.6;
}
#logo:hover {
  opacity: 1;
}

#slogan {
  float: right;
  font-size: 2em;
  font-family: "28_Days_Later_Cyr";
  color: #f7be81;
  white-space: pre-line;
  width: 50%;
  height: 100%;
  margin-right: 5px;
  line-height: 1;
  opacity: 0.7;
  text-shadow: 15px 5px 5px #000;
}

.text_wrapper {
  margin: 20px 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  padding: 5px 30px;
  color: #e6f7ff;
}

.text {
  font-family: "Cera_Stencil_PRO_Trial";
  text-align: justify;
}

h1 {
  text-align: center;
  text-shadow: 0 0 40px #000;
  color: #f7be81;
}

footer {
  position: relative;
  float: left;
  clear: both;
  color: #e6f7ff;
  text-align: center;
  padding: 15px 0;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0px 0px 50px black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(../img/body-bg.jpg);
}

.link, .link:visited {
  display: inline-block;
  background-color: #000;
  color: #fff;
  padding: 2px 10px;
  border-radius: 15px;
}

/* API intro  */
.description {
  margin: 10px;
  text-align: justify;
}

.api {
  margin: 10px;
}

.example {
  margin: 10px;
  margin-top: 25px;
  background-color: #000;
  border-radius: 5px;
  word-break: break-all;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.example_title {
  position: relative;
  float: left;
  left: -5px;
  top: -5px;
  width: 60px;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #660000;
  border-bottom-right-radius: 10px;
}

.url {
  clear: both;
  word-break: break-all;
  border-left: 5px solid #990000;
  padding: 10px;
  margin-left: 10px;
  background-color: #f6e3ce;
  color: navy;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.action {
  position: relative;
  float: left;
  padding: 5px;
  word-break: keep-all;
}

.response {
  padding: 20px;
  text-align: justify;
  font-style: italic;
}

.param {
  padding: 0 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.doc_title {
  border-bottom: 2px solid #d8d8d8;
}

/* EXAMPLE PAGE */
.cities_table {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    border: 4px outset black;
    
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 40px black;
    color: #000;
    font-weight: 700;
    
}
td,th {
    border: 2px solid black;
    padding-left: 8px;
    padding-right: 8px;
}
td:first-child, td:nth-child(3) {
    width: 200px;
}
td:nth-child(2){
    width: 70%;
}
th {
    background-color: rgba(0,0,0,1);
    color: #fff;
    height: 30px;
}
tr:nth-child(odd) {
    background-color: rgba(255,255,153,1);
}
tr:nth-child(even) {
    background-color: rgba(135,206,250,1);
}
.pages {
    width: 200px;
    margin: 0 auto 15px auto;
}
.btn-page {
    display: inline-block;
    width: 17%;
    background-color: #DCDCDC;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px -21px black;
    text-decoration: none;
    color: black;
}
.btn-page:hover {
    box-shadow: 2px 2px 5px black;
}
.selected-btn {
    background-color: #708090;
    box-shadow:none;
    color: #fff;
    font-weight: bold;
}
footer a, footer a:visited{
    background-color: burlywood;
    padding: 3px 10px;
    color: blue;
    border-radius: 45px;
    line-height: 30px;
}
nav{
    background-color: #000;
    color: #fff;
    margin-top: 5px;
    height: 50px;
    box-shadow: 0px 0px 50px #000;
}

ul {
    list-style-type: none;
    margin: 0;
    height: 100%;
    padding-left: 0;
}
li {
    display: inline-block;
    margin: 0;
    padding: 15px 37px 0;
    height: 35px;
}
li:hover, .selected-nav {
    cursor: pointer;
    background-color: #C91818;
    border-bottom: 5px solid white;
    color: white;
}
ul a, ul a:visited {
    color: #fff;
}

/* ERROR page */
.error_a, .error_a:visited {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 2px;
    border-radius: 15px;
}
.error_text {
    font-size: 1.5em;
}